/* font-family: 'Archivo', sans-serif;
font-family: 'Asul', serif;
font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Work Sans', sans-serif; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8880d4;
    width: 5px;
    border-radius: 10px;
  }

  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: rgb(74, 58, 95);
  }
}

:root {
--background: rgb(245, 237, 237);
--primary-text-color: black;
--toggle-bg: ;
--toggle-fg: ;
--light-link-color: ;
--light-button-bg: ;
--light-button-color: ;
}

[data-theme='dark'] {
  --primary-font-family: ;
  --secondary-font-family: ;
  --background: black;
  --primary-text-color: blanchedalmond;
  --toggle-bg: ;
  --toggle-fg: ;
  --dark-button-bg: ;
  --dark-button-color: ;
}

[data-theme='dark'] a {
  color: var(--dark-link-color);
}
a {
  color: var(--light-link-color);
}
[dark-theme='dark'] a:hover{
  color: var(--dark-link-color);
}
a {
  color: var(--light-link-color);
}

